/* Write your CSS code here */
.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.profile-container {
  display: flex;
  align-items: center;
}

.image {
  width: 30px;
}
